<h1>Мои тренировки</h1>

<nav>
  <a href="{% url 'index' %}">Главная</a> |
  <a href="{% url 'exercise_list' %}">Упражнения</a> |
  <a href="{% url 'favorite_exercises' %}">Избранное</a> |
  <a href="{% url 'plan_list' %}">План</a> |
  <a href="{% url 'premade_workouts' %}">Готовые тренировки</a> |
  <a href="{% url 'workout_history_list' %}">История</a> |
  <a href="{% url 'profile' %}">Профиль</a> |

  <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Выйти</button>
  </form>
</nav>

<hr>

<a href="{% url 'workout_create' %}">Создать тренировку</a>

<ul>
  {% for workout in workouts %}
    <li>
      <a href="{% url 'workout_detail' workout.id %}">
        {{ workout.name }}
      </a>
    </li>
  {% empty %}
    <li>Тренировок нет</li>
  {% endfor %}
</ul>