<h1>Избранные упражнения</h1>

<nav>
  <a href="{% url 'index' %}">Главная</a> |
  <a href="{% url 'exercise_list' %}">Упражнения</a> |
  <a href="{% url 'workout_list' %}">Мои тренировки</a> |
  <a href="{% url 'plan_list' %}">План</a> |
  <a href="{% url 'profile' %}">Профиль</a> |

  <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Выйти</button>
  </form>
</nav>

<hr>

<ul>
  {% for item in favorites %}
    <li>
      <a href="{% url 'exercise_detail' item.exercise.id %}">
        {{ item.exercise.name }}
      </a>
    </li>
  {% empty %}
    <li>У тебя пока нет избранных упражнений</li>
  {% endfor %}
</ul>